.connection-badge {
  border-radius: 100%;
  color: #ffffff;
  background: #ff0000;
  width: 10;
  height: 10;
  top: 4;
  left: 15;
}

.chat-badge {
  font-size: 5;
  border-radius: 100%;
  color: #ffffff;
  background: #008000;
  width: 10;
  height: 10;
  top: 4;
  left: 39;
}

.bottom-nav {
  background-color: #191331;
}

.nav-icon {
  color: #ffffff;
  font-size: 25;
  width: 60;
  height: 40;
  padding-left: 20;
  padding-top: 7;

  &_active {
    font-size: 45;
    padding: -3 0 0 10;
  }
}

ScrollView, StackLayout {
  background: #342E50;
}
