<GridLayout rows="auto, *, 63">
    <ScrollView row="1" *ngIf="isSelected === 'home'" [visibility]="isSelected === 'home' ? 'visible' : 'collapse'">
        <ns-home></ns-home>
    </ScrollView>

    <ScrollView row="1" *ngIf="isSelected === 'search'" [visibility]="isSelected === 'search' ? 'visible' : 'collapse'">
        <ns-search></ns-search>
    </ScrollView>

    <StackLayout row="1" *ngIf="isSelected === 'createPost'" [visibility]="isSelected === 'createPost' ? 'visible' : 'collapse'">
        <ns-create-post (showHomePage)="showHomePage()"></ns-create-post>
    </StackLayout>

    <StackLayout row="1" *ngIf="isSelected === 'chat'" [visibility]="isSelected === 'chat' ? 'visible' : 'collapse'">
        <ns-chat></ns-chat>
    </StackLayout>

    <ScrollView row="1" *ngIf="isSelected === 'profile'" [visibility]="isSelected === 'profile' ? 'visible' : 'collapse'">
        <ns-profile></ns-profile>
    </ScrollView>

    <GridLayout row="2" columns="*,*,*,*,*" class="bottom-nav">
        <Label col="0" class="mdi nav-icon" [text]="'mdi-home' | fonticon" (tap)="onBottomSheetTap('home')"></Label>
        <Label col="1" class="mdi nav-icon" [text]="'mdi-search' | fonticon" (tap)="onBottomSheetTap('search')"></Label>
        <AbsoluteLayout col="2" (tap)="onBottomSheetTap('createPost')">
            <Label
                top="12"
                left="6"
                class="mdi nav-icon nav-icon_active"
                [text]="'mdi-add' | fonticon"
                color="#F1805E"
            ></Label>
            <Label
                top="11"
                left="5"
                class="mdi nav-icon nav-icon_active"
                [text]="'mdi-add' | fonticon"
                color="#E94A58"
            ></Label>
            <Label
                top="10"
                left="4"
                class="mdi nav-icon nav-icon_active"
                color="#B92F4E"
                [text]="'mdi-add' | fonticon"
            ></Label>
        </AbsoluteLayout>
        <Label
            col="3"
            class="mdi nav-icon"
            [text]="'mdi-chat-bubble-outline' | fonticon"
            (tap)="onBottomSheetTap('chat')"
        ></Label>
        <Label
            col="4"
            class="mdi nav-icon"
            [text]="'mdi-person' | fonticon"
            (tap)="onBottomSheetTap('profile')"
        ></Label>
    </GridLayout>
</GridLayout>
