.wrapper {
    background: #342E50;
}

.action-bar {
    justify-content: space-between;
    align-items: center;
    margin: 20 10 0 10;

    &__title {
        font-size: 19;
        color: #ffffff;
        margin-left: 20;
    }

    &__icon {
        font-size: 35;
        color: #ffffff;

        &_disabled {
            color: #C4C4C4;
        }

        &_enabled {
            color: #2EF5AE;
        }
    }
}

.check-block {
    border-top-width: 2;
    border-bottom-width: 2;
    border-style: solid;
    border-color: #7f6470;
    margin-bottom: 10;

    &__text {
        margin: 10 10 0 10;
        color: #ffffff;
        font-size: 13;

        &_count {
            margin-left: 10;
        }
    }

    &__images {
        margin: 10;
    }

    &__image {
        width: 62;
        height: 62;
        margin: 3;
    }

    &__close-icon {
        font-size: 27;
        color: #2EF5AE;
        border-width: 1;
        border-style: solid;
        border-color: #2EF5AE;
        border-radius: 100%;
    }
}

.gallery-image {
    margin: 2;
}

