<GridLayout rows="83, auto, *" columns="*" class="wrapper">
    <FlexboxLayout row="0" class="action-bar">
        <FlexboxLayout alignItems="center">
            <Label class="mdi action-bar__icon" [text]="'mdi-close' | fonticon" (tap)="goBack()"></Label>
            <Label class="action-bar__title" text="Галерея" (tap)="goNext()"></Label>
        </FlexboxLayout>
        <Label
                (tap)="goNext"
            class="mdi action-bar__icon"
            [text]="'mdi-done' | fonticon"
            [ngClass]="{
                'action-bar__icon_disabled': !postImages.length,
                'action-bar__icon_enabled': postImages.length
            }"
        ></Label>
    </FlexboxLayout>
    <StackLayout row="1" class="check-block" *ngIf="postImages.length">
        <WrapLayout class="check-block__text">
            <Label text="Выбрано"></Label>
            <Label class="check-block__text_count" [text]="postImages.length"></Label>
        </WrapLayout>
        <StackLayout class="check-block__images" orientation="horizontal">
            <AbsoluteLayout *ngFor="let image of postImages" (tap)="removeImageFromPost(image)">
                <FrescoDrawee
                    class="check-block__image"
                    decodeWidth="100"
                    decodeHeight="100"
                    [imageUri]="image.fileUri"
                    failureImageUri="~/app/assets/fail-image.jpg"
                    aspectRatio="1"
                    verticalAlignment="center"
                >
                </FrescoDrawee>
                <Label class="mdi check-block__close-icon" [text]="'mdi-close' | fonticon" top="20" left="20"></Label>
            </AbsoluteLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout row="2" tkExampleTitle tkToggleNavButton>
        <RadListView
            [items]="images"
            loadOnDemandMode="Auto"
            loadOnDemandBufferSize="12"
            (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
        >
            <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="3"></ListViewGridLayout>
            <ng-template tkListItemTemplate let-item="item">
                <StackLayout orientation="vertical">
                    <FrescoDrawee
                        decodeWidth="100"
                        decodeHeight="100"
                        class="gallery-image"
                        [imageUri]="item.fileUri"
                        failureImageUri="~/app/assets/fail-image.jpg"
                        aspectRatio="1"
                        verticalAlignment="center"
                        (tap)="addImageToPost(item)"
                        [visibility]="!checkIfChosen(item) ? 'visible' : 'collapse'"
                    ></FrescoDrawee>
                    <FrescoDrawee
                        decodeWidth="100"
                        decodeHeight="100"
                        class="gallery-image"
                        [imageUri]="item.fileUri"
                        failureImageUri="~/app/assets/fail-image.jpg"
                        aspectRatio="1"
                        verticalAlignment="center"
                        roundAsCircle="true"
                        (tap)="addImageToPost(item)"
                        [visibility]="checkIfChosen(item) ? 'visible' : 'collapse'"
                    ></FrescoDrawee>
                </StackLayout>
            </ng-template>
        </RadListView>
    </StackLayout>
</GridLayout>
