<!--<GridLayout tkExampleTitle tkToggleNavButton>-->
<!--    <RadListView [items]="imageList">-->
<!--        <ng-template tkListItemTemplate let-item="item">-->
<!--            <StackLayout orientation="vertical">-->
<!--                <<Image width="94" height="94" [src]="item.fileUri"></Image>-->
<!--            </StackLayout>-->
<!--        </ng-template>-->
<!--    </RadListView>-->
<!--</GridLayout>-->

<!--<GridLayout rows="100 *">-->
<!--    <Button row="0" text="ReadFile" (tap)="onTap()"></Button>-->
<!--    <RadListView id="listID" row="1" [items]="imageList" multipleSelection="true" selectionBehavior="Press">-->
<!--        <ng-template tkListItemTemplate let-item="item">-->
<!--            <GridLayout class="gridLayoutStyle" rows="auto" columns="*">-->
<!--                                <Image decodeWidth="94" decodeHeight="94" [src]="item.fileUri" loadMode="async"></Image>-->
<!--&lt;!&ndash;                <FrescoDrawee&ndash;&gt;-->
<!--&lt;!&ndash;                        row="0"&ndash;&gt;-->
<!--&lt;!&ndash;                        col="0"&ndash;&gt;-->
<!--&lt;!&ndash;                    [imageUri]="item.path"&ndash;&gt;-->
<!--&lt;!&ndash;                    aspectRatio="1"&ndash;&gt;-->
<!--&lt;!&ndash;                    failureImageUri="~/app/assets/fail-image.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;                    verticalAlignment="top"&ndash;&gt;-->
<!--&lt;!&ndash;                ></FrescoDrawee>&ndash;&gt;-->
<!--&lt;!&ndash;                <Label row="1" [text]="item.text"></Label>&ndash;&gt;-->
<!--            </GridLayout>-->
<!--        </ng-template>-->
<!--        <ListViewGridLayout tkListViewLayout scrollDirection="Vertical" spanCount="4"></ListViewGridLayout>-->
<!--    </RadListView>-->
<!--</GridLayout>-->

<!--<StackLayout heigh="100%">-->
<!--    <Button row="0" text="ReadFile" (tap)="onTap()"></Button>-->
<!--    <FlexboxLayout class="image-wrapper">-->
<!--            <Image *ngFor="let img of imageList" decodeWidth="94" decodeHeight="94" class="post-image" [src]="img.fileUri" ></Image>-->
<!--&lt;!&ndash;        <FrescoDrawee&ndash;&gt;-->
<!--&lt;!&ndash;                *ngFor="let img of imageList"&ndash;&gt;-->
<!--&lt;!&ndash;                class="post-image"&ndash;&gt;-->
<!--&lt;!&ndash;                [imageUri]="img.fileUri"&ndash;&gt;-->
<!--&lt;!&ndash;                failureImageUri="~/app/assets/fail-image.jpg"&ndash;&gt;-->
<!--&lt;!&ndash;                aspectRatio="1"&ndash;&gt;-->
<!--&lt;!&ndash;                verticalAlignment="top"&ndash;&gt;-->
<!--&lt;!&ndash;        ></FrescoDrawee>&ndash;&gt;-->
<!--    </FlexboxLayout>-->
<!--</StackLayout>-->

    <StackLayout height="100%">
        <ListView height="100%" [items]="imageList">
            <Button text="ReadFile" (tap)="onTap()"></Button>

            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout >
                    <Image decodeWidth="94" decodeHeight="94" class="post-image" [src]="item.fileUri" loadMode="async"></Image>
                </StackLayout>
            </ng-template>
        </ListView>
    </StackLayout>

<!--    <ListView [items]="imageList" height="100%">-->
<!--        <Button text="ReadFile" (tap)="onTap()"></Button>-->
<!--        <ng-template let-item="item">-->

<!--                <Image decodeWidth="94" decodeHeight="94" class="post-image" [src]="item.fileUri" loadMode="async"></Image>-->
<!--        </ng-template>-->

<!--    </ListView>-->
<!--    <RadListView id="listID" row="0" [items]="imageList" multipleSelection="true" selectionBehavior="Press">-->
<!--        <ListViewGridLayout tkListViewLayout scrollDirection="vertical" itemHeight="100 0" itemWidth="100"  spanCount="3">-->
<!--        </ListViewGridLayout>-->
<!--        <ng-template tkListItemTemplate let-item="item" let-index="index">-->
<!--            <StackLayout rows="auto" height="100%" width="100%">-->
<!--                <StackLayout width="100" height="auto">-->
<!--                    <StackLayout class="card-other m-5">-->
<!--                        <Image decodeWidth="94" decodeHeight="94" class="post-image" [src]="item.fileUri" loadMode="async"></Image>-->
<!--                    </StackLayout>-->
<!--                    <Label [text]="item.title" class="text-center h4"></Label>-->
<!--                </StackLayout>-->
<!--            </StackLayout>-->

<!--        </ng-template>-->
<!--    </RadListView>-->

<!--&lt;!&ndash;<ng-template *ngFor="let img of folderEntities">&ndash;&gt;-->
<!--    <StackLayout >-->
<!--        <Label text="'asdasdasd'"></Label>-->
<!--        <Image *ngFor="let img of folderEntities" [src]="img.path"></Image>-->
<!--&lt;!&ndash;        <Image src="~/app/assets/fail-image.jpg"></Image>&ndash;&gt;-->
<!--&lt;!&ndash;        <Image src="~/app/assets/fail-image.jpg"></Image>&ndash;&gt;-->
<!--&lt;!&ndash;        <Image src="~/app/assets/fail-image.jpg"></Image>&ndash;&gt;-->
<!--    </StackLayout>-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
